<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>错误</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/Feng.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/content.min.js"></script>
    <script src="/layer/layer.js"></script>
    <style>
        body {
            background-color: #EEEEE0;
        }

        .box {
            text-align: center;
            height: 350px;
            margin-top: 10%;
        }

        .row {
            margin-bottom: 30px;
            height: 40px;
        }
    </style>
</head>
<body>
<div class="box">
    <div class="row">
        <h1>抱歉,该资源不提供下载或找不到要下载的文件!</h1>
    </div>
</div>
</body>
</html>
